Course Code: <%= @outline.course.code %>
<div id="edit_outlines">
  <%= render 'outlines/partials/edit_element', outline: @outline %>
</div>
<%= button_to 'Add Element', outline_add_element_path(@outline), class: 'btn btn-western btn-sm', remote: true %>
