<div class="container-fluid">
  <h2> Latest Outlines: </h2>
  <div>
    <% @current_outlines.in_groups_of(12, false) do |outlines| %>
      <div class="row">
        <% outlines.each do |outline| %>
          <div class="col-md-1">
            <button class="btn btn-default top-outline"><%= outline.course.code %></button>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <h2> Filter Outlines: </h2>
  <div>
    <%= form_for_filterrific @filterrific do |f| %>
      <div class="form-group">
        <%= f.text_field( :search_query, class: 'filterrific-periodically-observed') %>
      </div>
    <% end %>
    <% @outlines.each do |out| %>
      <%= out.course.code %>
    <% end %>
  </div>
</div>
