<br>
<div>
 &nbsp <%= link_to outlines_path, class: 'btn btn-primary' do %> <span class="fa fa-thumbs-up"></span> VIEW OUTLINES <% end %>
</div>
<% if can? :create, Outline %>
  <div>
    <%= render 'shared/new_outline_modal', courses: @courses %>
  </div>
<% end %>

