html {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-color: $western_gray;
 // background-image: url(https://upload.wikimedia.org/wikipedia/en/e/ed/Nyan_cat_250px_frame.PNG); ///uncomment for a good time
}

.header {
  height: 115px;
  position: relative;
}

.footer {
  height: 75px;
  width: 80%;
  position: absolute;
  bottom: 0;
}

.header_text {
  position: absolute;
  right: 5px;
}

.login_text {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.btn-primary {
  background-color: $western_purple;
  border-color: $western_purple;
}
.btn-primary:focus,
.btn-primary.focus {
  color: $white;
  background-color: #532e90;
  border-color: #241540;
}

.btn-primary:hover {
  color: $white;
  background-color: #3f2973;
  border-color: #3a2e74;
}

.body {
  width: 80%;
  min-height: 100%;
  margin: 0 auto;
  background-color: $light_gray;
}

.checkbox-label {
  vertical-align: -2px;
}
