// Place all the styles related to the outlines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html,body {
  height: 100%;
}

.body {
 // height: 100%;
}

.top-outline {
  width: 125px !important;
  height: 125px;
}

.ui-autocomplete {
  position: fixed;
  top: 100%;
  left: 0;
  z-index: 1100;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;



  }
}
.ui-widget-content .ui-state-focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #0088cc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}

.ui-helper-hidden-accessible {
  display: none;
}

.element-text {
  width: 98%;
}

.outline-edit-container {
  height: 100%;
}

.outline-editor {
  height: 65%;
  float: left;
  padding-right: 10px;
  display: table;
  width: 100%;
}

.outline-toolbar {
  float: left;
  display: table-cell;
  max-width: 20%;
  margin: 10px 0px 10px 0px;
  padding: 10px 2px 10px 2px;
  border: 2px solid $black;
  background-color: $dark-gray;
  border-radius: 15px;
}
.outline-view {
  float: left;
  display: table-cell;
  width: 77%;
  margin-left: 3%;
}

.tool {
  text-align: center;
  background: none;
  padding: 12px 22px;
  margin: 2px 3px;
  border: 2px solid $black;
  background-color: $light-gray;
}

.tool:hover, .tool:focus {
  color: $dark-gray;
  border-color: $dark-gray;
  cursor: -webkit-grab;
}

.tool:active {
  cursor: -webkit-grabbing;
}

.element-edit {
  min-height: 100px;
  border: 2px solid $western-purple;
}

.senate-rules {
  margin: auto;
  width: 60%;
}

.senate-rule {
  min-height: 100px;
  display: flex;
  align-items: center;

  .bootstrap-switch {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    .bootstrap-switch-handle-on {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
    }
    .bootstrap-switch-handle-off {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
    }
  }
}

.new-outline-continue {
  position: relative;
  right: 0px;
}
.element-edit:hover {
  cursor: -webkit-grab;
}
.element-edit:active {
  cursor: -webkit-grabbing;
}
