/* COLOURS */

/* Western Colours */
$western_purple: #4F2683;
$western_gray: #807F83;
// Colour Classes
.western_purple{ color: $western_purple; }
.western_gray{ color: $western_gray; }
// Background Colour Classes
.western_purple_bg{ background-color: $western_purple; }
.western_gray_bg{ background-color: $western_gray; }
// Border Colour Classes
.western_purple_border{ border-color: $western_purple !important; }
.western_gray_border{ border-color: $western_gray !important; }


/* Other Colours */
$white: #F6EBEB;
$black: #000000;
$light_gray: #dcdcdc;


// Colour Classes
.white { color: $white; }


// Background Colour Classes

.white_bg { background-color: $white; }
.black_bg { background-color: $black; }


// Border Colour Classes
.white_border { border-color: $white; }
.black_border { border-color: $black; }


/* FONTS */

// Font Sizes
.font_xlarge { font-size: 48px; }
.font_large { font-size: 36px; }
.font_medium { font-size: 24px; }
.font_small { font-size: 14px; }
.fond_xsmall {font-size: 10px; }

// Default Fonts
$font-family-base: 'Open Sans', sans-serif;
$font-family-sans-serif: $font-family-base;
$font-family-serif: 'Open Sans', serif;
