/* COLOURS */

/* Western Colours */
$western-purple: #4F2683;
$western-gray: #807F83;
$western-purple-dark: #3f2973;
$western-purple-darker: #241540;
$western-purple-light: #532e90;



// Colour Classes
.western-purple{ color: $western-purple; }
.western-gray{ color: $western-gray; }
// Background Colour Classes
.western-purple-bg{ background-color: $western-purple; }
.western-gray-bg{ background-color: $western-gray; }
// Border Colour Classes
.western-purple-border{ border-color: $western-purple !important; }
.western-gray-border{ border-color: $western-gray !important; }


/* Other Colours */
$pure-white: #fff;
$white: #F6EBEB;
$black: #000000;
$light-gray: #ebebeb;
$dark-gray: #a9a9a9;


// Colour Classes
.white { color: $white !important; }


// Background Colour Classes
.pure-white-bg { background-color: $pure-white }
.white-bg { background-color: $white; }
.black-bg { background-color: $black; }


// Border Colour Classes
.white-border { border-color: $white; }
.black-border { border-color: $black; }


/* FONTS */

// Font Sizes
@for $i from 6 through 60 {
  .font-#{$i} { font-size: #{$i}px; }
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}

// Default Fonts
$font-family-base: 'Open Sans', sans-serif;
$font-family-sans-serif: $font-family-base;
$font-family-serif: 'Open Sans', serif;
