<div class="container-fluid">
  <div class="row", id="alert-div">
    <% if notice %>
      <div class="alert alert-success">
        <%= notice %>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger">
        <%= alert %>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      </div>
    <% end %>
  </div>
</div>