<div class="header western_purple_bg">
  <%= image_tag 'western_logo.gif', class: 'pull-left' %>
  <span class="white font_36 header_text"> CS4470 Syllabus Creator </span><br>
  <% if current_user.guest? %>
    <a href="" data-toggle="modal" data-target="#loginModal" class="login_text font_16"> Log In </a>
    <%= render 'shared/login_form' %>
  <% else %>
    <div class="login_text white font_16">
      Logged in as: <%= current_user.name %> <br>
      <%= link_to destroy_user_session_path, method: :delete, class: 'pull-right' do %> Log Out <% end %>
    </div>
  <% end %>
</div>